<a name="ancla4" id="ancla4"></a> 
  <div class="contacto">
    <div class="contact-heading">
      <h2>Contacto</h2>
      <div class="divider"></div>
    </div>   
    <div class="container-contacto">
      <img src="https://github.com/Ludmimar/MyPortfolio/blob/master/src/assets/imagenes/contacto.jpg?raw=true" alt="">
      <div class="contact-form">
        <h4>Enviame un mensaje..</h4>
        <form class="form" action="https://formsubmit.co/ludmilamartos@gmail.com" method="POST">
          <input type="text" placeholder="Name">
          <input type="email" placeholder="Email">
          <textarea placeholder="Deja tu mensaje aqui..."></textarea>
          <button class="btn-submit">Enviar</button>
        </form>
      </div>
    </div>
  </div>