<div class="educacion">
      <div class="educacion-cabecera">
        <h2>Educacion</h2>
        <div class="divider"></div>
      </div>      
      
<button type="button" *ngIf="usuarioAutenticado" class="btn btn-primary" data-bs-toggle="modal" 
data-bs-target="#modalEducacionAgregar">
  Agregar
</button>
<!-- otra forma
<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Educacion</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>Imagen</th>
            <th>Institucion</th>
            <th>Titulo</th>
            <th>Carrera</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Id Persona</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of educacion" class="text-center">
            <img [src]="item.img"  alt="">   
            <td>{{item.id}}</td> 
            <td>{{item.school}}</td>
            <td>{{item.title}}</td>
            <td>{{item.career}}</td>
            <td>{{item.start}}</td>
            <td>{{item.end}}</td>
            <td>{{item.idPersona}}</td> 
            <td>
              <button (click)="EditarUno(item)" class="btn btn-warning">Editar</button>
              <button (click)="eliminarEducacion(item)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
-->


<!--Cuadraditos-->
<div class="container-educacion"> 
  <div *ngFor="let item of educacion">
    <div class="card-educacion">
      <img [src]="item.img"  alt="">            
      <div class="card__title-educacion">
        <h2><strong>Institucion: </strong></h2>
        <h2>{{item.school}}</h2>              
        <p><strong>Titulo:</strong> {{item.title}}</p>
        <p> {{item.career}}</p>
        <p><strong>Inicio:</strong> {{item.start}} <strong>Fin:</strong> {{item.end}}</p>       
      </div>
      <div class="botones-educ">   
        <button *ngIf="usuarioAutenticado" type="button" class="btn btn-primary" data-bs-toggle="modal" 
        data-bs-target="#modalUpdateEducacion" (click)="mostrarEducacion(item)">
         Editar        
        </button>     
        <button class="btn" *ngIf="usuarioAutenticado" (click)="eliminarEducacion(item)">Eliminar</button>        
      </div> 
    </div> 
    
  </div>
</div>
</div> 

<!--Modal Editar -->
<div class="modal fade" id="modalUpdateEducacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Educacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"> 
        
                <form [formGroup]="formEditar">
                    <div class="mb-3"> 
                      <label for="school" class="form-label">Institucion Educativa</label>
                      <input  type="text" class="form-control" id="school" formControlName="school"> 
                      <div *ngIf="school?.invalid && (school?.dirty || school?.touched)">
                        <div *ngIf="school?.errors?.['required']" class="text-danger">
                           La Institucion Educativa es obligatoria
                        </div>
                      </div>
                      
                      <label for="career" class="form-label">Carrera</label>
                      <input type="text" class="form-control" id="career" formControlName="career"> 
                      <div *ngIf="career?.invalid && (career?.dirty || career?.touched)">
                        <div *ngIf="career?.errors?.['required']" class="text-danger">
                          La carrera es  Obligatoria.
                        </div>
                      </div>

                      <label for="title" class="form-label">Titulo</label>
                      <input type="text" class="form-control" id="title" formControlName="title"> 
                      <div *ngIf="title?.invalid && (title?.dirty || title?.touched)">
                        <div *ngIf="title?.errors?.['required']" class="text-danger">
                          El Titulo es  Obligatorio.
                        </div>
                      </div>
                    </div>                  
                    
                    <div class="mb-3">
                      <label for="img" class="form-label">URL de la imagen de Educacion</label> 
                      <input type="text" class="form-control" id="img" formControlName="img">                     
                      <div *ngIf="img?.invalid && (img?.dirty || img?.touched)">
                        <div *ngIf="img?.errors?.['required']" class="text-danger">
                          La url es obligatoria.
                        </div>
                        <div *ngIf="img?.errors?.['pattern']" class="text-danger">
                          El  formato de la url no es válida.
                        </div>
                      </div>
                    </div>   

                    <div class="mb-3">
                      <label for="start" class="form-label">Fecha de inicio</label>
                      <input type="text" class="form-control" id="start" formControlName="start">
                    </div>

                    <div class="mb-3">
                      <label for="end" class="form-label">Fecha de Fin</label>
                      <input type="text" class="form-control" id="end" formControlName="end">
                    </div>                                      
                </form>           
      </div>
      <div class="modal-footer">
        <button type="button" id="cerrarModalEducacion" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="modificarEducacion()">Guardar</button>
      </div>
    </div>      
  </div>
</div>



<!-- Modal Agregar Educacion-->

<div class="modal fade" id="modalEducacionAgregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro de Educacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">    
                <form [formGroup]="form">
                    <div class="mb-3"> 
                      <label for="school" class="form-label">Institucion Educativa</label>
                      <input  type="text" 
                      class="form-control" id="school" formControlName="school"> 
                      <div *ngIf="school?.invalid && (school?.dirty || school?.touched)">
                        <div *ngIf="school?.errors?.['required']" class="text-danger">
                           La Institucion Educativa es obligatoria
                        </div>
                      </div>
                      
                      <label for="career" class="form-label">Carrera</label>
                      <input type="text" class="form-control" id="career" formControlName="career"> 
                      <div *ngIf="career?.invalid && (career?.dirty || career?.touched)">
                        <div *ngIf="career?.errors?.['required']" class="text-danger">
                          La carrera es  Obligatoria.
                        </div>
                      </div>

                      <label for="title" class="form-label">Titulo</label>
                      <input type="text" class="form-control" id="title" formControlName="title"> 
                      <div *ngIf="title?.invalid && (title?.dirty || title?.touched)">
                        <div *ngIf="title?.errors?.['required']" class="text-danger">
                          El Titulo es  Obligatorio.
                        </div>
                      </div>
                    </div>                  
                    
                    <div class="mb-3">
                      <label for="img" class="form-label">URL de la imagen de Educacion</label> 
                      <input type="text" class="form-control" id="img" formControlName="img">                     
                      <div *ngIf="img?.invalid && (img?.dirty || img?.touched)">
                        <div *ngIf="img?.errors?.['required']" class="text-danger">
                          La url es obligatoria.
                        </div>
                        <div *ngIf="img?.errors?.['pattern']" class="text-danger">
                          El  formato de la url no es válida.
                        </div>
                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="start" class="form-label">Fecha de inicio</label>
                      <input type="text" class="form-control" id="start" formControlName="start">
                    </div>

                    <div class="mb-3">
                      <label for="end" class="form-label">Fecha de cierre</label>
                      <input type="text" class="form-control" id="end" formControlName="end">
                    </div>

                    <div class="mb-3">
                      <label for="idPersona" class="form-label">Id Persona</label>
                      <input type="text" class="form-control" id="idPersona" formControlName="idPersona">
                    </div>                    
                </form>           
      </div>
      <div class="modal-footer">
        <button type="button" id="cerrarModalEducacion" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="guardarEducacion()">Guardar</button>
      </div> 
    </div>      
  </div>
</div>


 

