<div class="img-logo">
    <img src="./assets/imagenes/logoPag.jpg" class="img-fluid" alt="">
</div>   
<nav class="navbar">                        
  <ul class="menu"> <!--menu-->
    <!--  <a name="ancla0" id="ancla0"></a> -->
    <li><a href="">Home</a></li>
    <li><a href="/educacion">Educacion</a></li>
    <li><a href="/proyectos">Proyectos</a></li>
    <li><a href="/contacto">Contacto</a></li>
    <li><a href="#">Loguin</a></li>                  
  </ul>
</nav>   
<router-outlet></router-outlet>
<app-footer></app-footer>